<!DOCTYPE html>
<html  lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css"/>
  <script src="/app.js" defer></script>
</head>

<body>
  <h1><%= title %></h1>

  <form id="entry-form">
    <input
    type="text"
    name="title"
    placeholder="Title"
    required
  />

  <textarea
  name="body"
  placeholder="Body"
  required
  ></textarea>

  <button type="submit">
    Add Entry
  </button>
  </form>

  <ul id="entries">
    <% entries.forEach((entry,index) => { %>
<li
data-id="<%= index %>"
data-title="<%= entry.title %>"
data-body="<%= entry.body %>"
>
<span class="entry-display">
  <strong><%= entry.title %>:</strong>
  <%= entry.body %>
</span>

<button class="edit-btn" type="button">Edit</button>
<button class="delete-btn" type="button">Delete</button>
</li>
<% }) %>
</ul>
</body>
</html>
